.contact-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100vh; /* Full-screen height */
    width: 100vw; /* Full-screen width */
    padding: 50px;
    background-color: white; /* Black background with glass effect */
    backdrop-filter: blur(10px); /* Glass effect */
    color: black;
  }
  
  h2 {
    font-size: 2.5rem;
    margin-top: 20px;
    color: black;
  }
  
  /* Contact Information Section */
  .contact-info {
    flex: 1;
    margin-right: 50px;
  
  }
  
  .contact-info p {
    
    font-size: 1.2rem;
    line-height: 1.6;
  }
  
  .contact-info strong {
    font-size: 1.3rem;
  }
  
  /* Contact Form Section */
  .contact-form {
    flex: 1;
    min-width: 300px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form input, .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1.1rem;
    background-color: transparent;
    color: black;
  }
  
  .contact-form input::placeholder,
  .contact-form textarea::placeholder {
    color:black; /* Light placeholder color */
  }
  
  .contact-form textarea {
    resize: none;
    height: 120px;
  }
  
  .contact-form button {
    background-color: black;
    color: white;
    padding: 15px;
    border: none;
    border-radius: 5px;
    font-size: 1.1rem;
    cursor: pointer;
  }
  
  
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .contact-container {
      flex-direction: column;
      padding: 20px;
    }
  
    .contact-info, .contact-form {
      margin-right: 0;
      margin-bottom: 30px;
    }
  
    h2 {
      font-size: 2rem;
    }
  }
  
  @media (max-width: 480px) {
    h2 {
      font-size: 1.8rem;
    }
  
    .contact-form input, .contact-form textarea {
      font-size: 0.85rem;
    }
  
    .contact-form button {
      font-size: 1rem;
    }
  }